@import 'nav-frontend-core/less/core.less';
@import 'nav-frontend-skjema-style/src/input.less';
@import 'nav-frontend-skjema-style/src/validering.less';

.mixin-transition(@varighet: 150ms, @type: all) {
    transition: @type @varighet cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.timeInputCompactChildren() {
    > .skjemaelement__label {
        font-weight: normal;
        text-align: center;
        padding: 0.5rem;
        padding-bottom: 0.25rem;
        margin-bottom: 0;
    }

    input {
        text-align: center;
        width: 100%;
        padding: 0.5rem;
    }
    .timeInput {
        &__label {
            display: block;
            position: absolute;
            top: calc(100% + 0.25rem);
            font-size: 0.75rem;
            padding: 0;
            text-align: center;
            line-height: 1rem;
            overflow: hidden;
            width: 100%;
        }
        &__hours,
        &__minutes {
            margin: 0;
        }
        &__contentWrapper {
            white-space: nowrap;
            padding-bottom: 2rem;
            display: flex;
            justify-content: center;
            > * {
                flex: 1;
            }
        }
        &__inputWrapper {
            max-width: 3.5rem;
            margin: 0;
        }
    }
    .timeInput__suffix {
        position: absolute;
        right: 0.5rem;
        display: flex;
        align-self: center;
        justify-content: flex-end;
    }
}

.timeInput {
    &__suffix {
        position: relative;
        right: 1rem;
        opacity: 0.6;
        font-size: 0.9rem;
        &--min {
            right: 1.2rem;
        }
    }
    .skjemaelement__label {
        font-weight: bold;
    }
    &__contentWrapper {
        display: flex;
    }
    &__hours,
    &__minutes {
        width: 4rem;
        margin-bottom: 0.5rem;
        &:focus {
            z-index: 2;
        }
    }
    &__inputWrapper {
        display: flex;
        align-items: baseline;
        margin-right: 1rem;
        padding: 0;
        position: relative;
    }
    &__label {
        padding-left: 0.5rem;
        order: 2;
    }
    &__input {
        order: 1;
    }
    &--compact {
        .timeInputCompactChildren();
        *:focus {
            z-index: 10;
            position: relative;
        }
        .timeInput__hours > input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .timeInput__minutes > input {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .timeInput__inputWrapper:first-child {
            margin-right: 0;
        }
    }
    &--compactWithSpace,
    &--horizontal {
        .timeInputCompactChildren();
        .timeInput__inputWrapper:first-child {
            margin-right: 0.5rem;
        }
    }
    &--compactWithSpace,
    &--compact {
        &.timeInput--content-left {
            .timeInput__contentWrapper {
                justify-content: left;
            }
        }
        &.timeInput--content-right {
            .timeInput__contentWrapper {
                justify-content: left;
            }
        }
    }
    &--srOnlyLabels {
        .timeInput__contentWrapper {
            padding-bottom: 0;
        }
    }
    &--withSuffix {
        input {
            text-align: right;
            padding-right: 1.25rem;
        }
        .timeInput__minutes input {
            padding-right: 1.5rem;
        }
    }
}

.formikTimeInput {
    &--horizontal {
        flex-direction: row;
        legend {
            float: left;
            padding-right: 1rem;
            display: flex;
            align-items: flex-start;
            padding-top: 0.5rem;
            white-space: nowrap;
            min-width: 8rem;
        }
        .timeInput__contentWrapper {
            justify-content: left;
        }
    }
}
