@mobile-breakpoint: 576px;

.inputPanelGruppe.twoColumnPanelGruppe {
    .inputPanelGruppe__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: stretch;
        margin-left: -0.25rem;
        margin-right: -0.25rem;
        margin-bottom: -0.5rem;
        .inputPanel {
            flex: 1 1 0;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            min-width: calc(50% - 0.5rem);
            max-width: calc(50% - 0.5rem);
            margin-bottom: 0.5rem;
        }
        @media screen and (max-width: @mobile-breakpoint) {
            flex-direction: column !important;
            .inputPanel {
                max-width: initial !important;
                min-width: initial !important;
                margin: 0 0 0.5rem 0 !important;
            }
        }
    }
}

.inputPanelGruppe .inputPanel__field {
    height: 1px;
}

.skjemagruppe.singleInputWrapper {
    .skjemagruppe__legend {
        margin-bottom: 0.5rem;
    }
}
